
    <ion-header>
            <ion-navbar>
              <ion-title>MIS Report Detail</ion-title>
            </ion-navbar>
          </ion-header>
          <ion-content padding>
            <img src= {{imgName}} alt="avatar">
            <ion-card>
              <ion-card-content>
                <h2>Client Name : <b>{{clientName}}</b></h2>
                <p>Guest Name : {{guestName}}</p>
                <p>Check In & Out : {{checkinout}}</p>
                <p>Number of nights : {{noofnights}}</p>
                <p>Confirmation Number : {{confirmationNumber}}</p>
                <p>Savings USD Currency : {{savingsUSDCurrency}}</p>
                <p>Status : {{status}}</p>
              </ion-card-content>
            </ion-card>
          </ion-content>
            