<ion-content padding>
    <div class="login-top">
     <img src="assets/imgs/banalp-logo.png" />
    </div>
<ion-list>
    <br>
 <ion-grid>
  <ion-row>
    <ion-col col-1><ion-icon name="contact"></ion-icon></ion-col>
    <ion-col col-11>
    <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input></ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
    <ion-row>
      <ion-col col-1><ion-icon name="lock"></ion-icon></ion-col>
      <ion-col col-11>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input></ion-col>
    </ion-row>
  </ion-grid>
</ion-list>

<button full ion-button medium (click)="checkLogin()">Login</button>
<p class="txtcenter" (click)="forgetPass()">Forgot Password?</p>

</ion-content>
<!-- <ion-footer>
<ion-navbar>
 <p class="footertext" >All rights reserved (c) <b>Banalp</b></p>
</ion-navbar>
</ion-footer> -->
