page-login {
    p.txtcenter{
            text-align: center;
        }
        .login-top{
        padding-top:100px;
        text-align: center;
    
    }
    .button-md, .button-full-ios{
       background-color:rgb(9, 160, 160);
     }
    .toolbar-background-ios, .toolbar-background-md {
        border-color: #b2b2b2;
        background: rgb(9, 92, 160);
    }
    
    .footertext{
        color:#eeeeee;
        text-align: center;
    }
    .list-ios, .list-md{
        margin-bottom: 10px;
    }
    .content-ios,.content-md{
    background: #EEEEEE;
    //background-image: url(../assets/imgs/bg.png);
    }
    .grid{
        background-color:#ffffff;
        margin-bottom: 3px;
        padding:0px;
        border-radius: 4px;
    }
    .button-full-ios, .button-full-md{
        border-radius: 4px;
    }
    
    ion-icon {
        padding-top: 2px;
        padding-left: 5px;
       // color: #bbb;
    
    }
    .row{
        border:1px solid #ccc;
        border-radius: 4px;
        padding: 5px 0px;
    }
    .toolbar-md {
        padding: 0px; 
        min-height: 0px; 
    }
    .text-input-ios, .text-input-md {
        margin: 2px 1px 2px 1px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    
    }
    