page-changepassword {
    .toolbar-md {
       padding: 4px;
       min-height: 56px;
   }
//     .toolbar-background-md{
//    // background-color:white;
    
//     }
//     .toolbar-title-md{
//     //color:#ffffff;
//     }
   
//     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
//     //color:#ffffff;
//     }
    .button-md,.button-full-ios{
        background: rgb(9, 160, 160);
    }
    .grid{
       background-color:#ffffff;
       margin-bottom: 3px;
       padding:0px;
       border-radius: 4px;
   }
   .button-full-ios, .button-full-md{
       border-radius: 4px;
   }
   
   ion-icon {
       padding-top: 2px;
       padding-left: 5px;
      // color: #bbb;
   
   }
   .row{
       border:1px solid #ccc;
       border-radius: 4px;
       padding: 5px 0px;
   }
   
   .text-input-ios, .text-input-md {
       margin: 2px 1px 2px 1px;
       padding: 0;
       width: calc(100% - 8px - 8px);
   }
   
   }
   