<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Change Password</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-1><ion-icon name="contact"></ion-icon></ion-col>
        <ion-col col-11>
        <ion-input type="password" [(ngModel)]="old_password" placeholder="Old Password"></ion-input></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-1><ion-icon name="lock"></ion-icon></ion-col>
        <ion-col col-11>
        <ion-input type="password" [(ngModel)]="new_password" placeholder="New Password"></ion-input></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-1><ion-icon name="lock"></ion-icon></ion-col>
        <ion-col col-11>
        <ion-input type="password" [(ngModel)]="confirm_password" placeholder="Confirm Password"></ion-input></ion-col>
      </ion-row>
    </ion-grid>
     <button full ion-button medium (click)="updatePassword()">Update Password</button>

  </ion-content>