<ion-header>
    <ion-navbar>
      <ion-title>Coordinator View Detail</ion-title>
    </ion-navbar>
</ion-header>
  <ion-content padding>
    <img src= {{imgName}} alt="avatar">
    <ion-card>
      <ion-card-content>
        <h2>Name : <b>{{coordName}}</b></h2>
        <p>Coordinator Id : {{coordId}}</p>
        <p>Type : {{type}}</p>
        <p>Gender : {{gender}}</p>
        <p>DOB : {{DOB}}</p>
        <p>Phone : {{phone}}</p>
        <p>E-Mail : {{mail}}</p> 
        <p>Passport : {{passport}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
    