<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Create Enquiry</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content class="list-avatar-page">
         <ion-list>
			<ion-item>
			<ion-label>Client</ion-label>
			<ion-select> 
				<ion-option>Select Client </ion-option>
				<ion-option *ngFor="let Name of companyName">{{Name.name}} </ion-option>
			</ion-select>
			</ion-item>
			<ion-item>
				<ion-label color="">Guest Name</ion-label>
				<ion-input  (ngModel)="guestName" type="text" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="">Phone</ion-label>
				<ion-input (ngModel)="empPhone" type="Number"></ion-input>
			</ion-item>
			
			<ion-item>
			<ion-label color="">Address</ion-label>
			<ion-input  (ngModel)="address" type="text" ></ion-input>
		</ion-item>
		 <ion-item>
            <ion-label>Check In Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateOfBirth">{{dateOfBirth}}</ion-datetime>
        </ion-item>
		<ion-item>
            <ion-label>Check Out Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateOfBirth">{{dateOfBirth}}</ion-datetime>
        </ion-item>
		
		<ion-item>
			<ion-label>Number of Occupancy</ion-label>
			<ion-select> 
				<ion-option>Adult</ion-option>
				<ion-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">{{number}} </ion-option>
			</ion-select>
			<ion-select> 
				<ion-option>Children</ion-option>
				<ion-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">{{number}} </ion-option>
			</ion-select>
			</ion-item>
			<ion-item>
			<ion-label color="">Number of Rooms</ion-label>
			<ion-input  (ngModel)="address" type="Number" ></ion-input>
		</ion-item>
		<ion-row responsive-sm padding>
            <ion-col>
				<button ion-button (click)="onCancel()" color="light" block>Cancel</button>
                
            </ion-col>
            <ion-col>
                <button ion-button (click)="onSubmit()" type="submit" block>Submit</button>
            </ion-col>
        </ion-row>
        </ion-list>
      </ion-content> 