<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Create Employee</ion-title>
    </ion-navbar>
</ion-header>
      
<ion-content padding>

	<ion-list>
		<ion-item>
			<ion-label color="">Employee Id</ion-label>
			<ion-input  (ngModel)="empId" type="text" required></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Employee First Name</ion-label>
			<ion-input  (ngModel)="empFirstName" type="text" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Employee Last Name</ion-label>
			<ion-input  (ngModel)="empLastName" type="text" ></ion-input>
		</ion-item>
	   
		<!-- <ion-item>
			<ion-label>Profile Photo </ion-label>
			<ion-input  (ngModel)="profile" type="file" > </ion-input>
		</ion-item>
		 -->
		<ion-item>
			<ion-label color="">Employee Email</ion-label>
			<ion-input   (ngModel)="empEmail" type="text" ></ion-input>
		</ion-item>
		
       		
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="gender" [selectOptions]="genderAlertOpts">
                <ion-option>Male</ion-option>
                <ion-option>Female</ion-option>
                <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
            </ion-select>
        </ion-item>
		
        <ion-item>
            <ion-label>Date Of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateOfBirth">{{dateOfBirth}}</ion-datetime>
        </ion-item>
		
        <ion-item>
			<ion-label color="">Employee Phone</ion-label>
			<ion-input (ngModel)="empPhone" type="Number"></ion-input>
		</ion-item>
		

        <ion-item>
            <ion-label>Date Of Joining</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateOfJoining">{{dateOfJoining}}</ion-datetime>
        </ion-item>
		
        <ion-item>
            <ion-label>Role</ion-label>
            <ion-select [(ngModel)]="empRole" [selectOptions]="roleAlertOpts">
                <ion-option>Admin</ion-option>
                <ion-option>Employee</ion-option>
                <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
            </ion-select>
        </ion-item>
		
        <ion-item>
                <ion-label>Department</ion-label>
                <ion-select [(ngModel)]="empDept" [selectOptions]="deptAlertOpts">
                    <ion-option>Accounts</ion-option>
                    <ion-option>Management</ion-option>
                    <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
                </ion-select>
        </ion-item>
		
        <ion-item>
            <ion-label>Designation</ion-label>
                <ion-select [(ngModel)]="empDesi" [selectOptions]="desiAlertOpts">
                    <ion-option>Accountant</ion-option>
                    <ion-option>Director</ion-option>
                    <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
            </ion-select>
        </ion-item>
		
		<!-- <ion-item>
			<ion-label>Resume </ion-label>
			<ion-input (ngModel)="resume" type="file" > </ion-input>
		</ion-item> -->
		
        <ion-row responsive-sm padding>
            <ion-col>
				<button ion-button (click)="onCancel()" color="light" block>Cancel</button>
                
            </ion-col>
            <ion-col>
                <button ion-button (click)="onSubmit()" type="submit" block>Submit</button>
            </ion-col>
        </ion-row>
        <!-- <div padding>
            <button full ion-button medium color="primary" block>Submit</button>
        </div> -->
    </ion-list>    
   
</ion-content>
      