<ion-header>
  <ion-navbar>
    <ion-title>Employee View Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <img src= {{imgName}} alt="avatar">
  <ion-card>
    <ion-card-content>
      <h2>Name : <b>{{empName}}</b></h2>
      <p>ID : {{empId}}</p>
      <p>DOB : {{empDOB}}</p>
      <p>E-mail : {{empEmail}}</p>
      <p>Phone : {{empPhone}}</p>
      <p>Department : {{empDept}}</p>
      <p>Designation : {{empDesi}}</p>
      <p>DOJ : {{empDOJ}}</p>   
    </ion-card-content>
  </ion-card> 
</ion-content>
  