<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Employee Attendance</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="list-avatar-page">
      <ion-item>
          <ion-label>Employee List</ion-label>
          <ion-select [(ngModel)]="employee" [selectOptions]="musicAlertOpts">
            <ion-option>Pawan Kalyan</ion-option>
            <ion-option>Krishna</ion-option>
            <ion-option>Chiranjeevi</ion-option>
            <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
          </ion-select>
        </ion-item>
    <ion-list>
      <ion-item-sliding>
        <ion-item *ngFor="let l of employeeattendanceList">
          <ion-avatar item-start>
            <img src= {{l.imgName}}>
          </ion-avatar>
          <h2>{{l.empName}}</h2>
          <h3>{{l.loggedin}} to {{l.loggedout}}</h3>
          <p>{{l.phone}}</p>
          <p>{{l.desi}}</p>
          <p>{{l.dept}}</p>
          <!-- <button ion-button clear item-end  (click)="openDetail(l)" >View</button> -->
        </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-start>
          <ion-icon name="ios-more"></ion-icon>
            More
        </button> 
        <button ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
            Edit
        </button>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="undo"></ion-icon>
            Active
        </button> 
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content> 
    