<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Create Client</ion-title>
    </ion-navbar>
</ion-header>
      
<ion-content padding>

	<ion-list>
		<ion-item>
			<ion-label color="">Organization Name</ion-label>
			<ion-input  (ngModel)="orgname" type="text" required></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label>Company Logo </ion-label>
			<ion-input  (ngModel)="Companylogo" type="file" > </ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Email Id</ion-label>
			<ion-input   (ngModel)="orgEmail" type="text" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Phone Number</ion-label>
			<ion-input  (ngModel)="orgPhone" type="Number" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Website</ion-label>
			<ion-input  (ngModel)="orgWebsite" type="text" ></ion-input>
		</ion-item>
	   
		<ion-item>
			<ion-label color="">Mail Id of Banalp</ion-label>
			<ion-input   (ngModel)="banalpEmail" type="text" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label>Address</ion-label>
			<ion-input  (ngModel)="orgAddress" type="text" > </ion-input>
		</ion-item>
		      
		<ion-item>
			<ion-label>Travel Coordinator</ion-label>
			<ion-checkbox color="dark" checked = "false" (click)="show=!show">{{show ? 'hide' : 'show'}}> </ion-checkbox>
		</ion-item>
		<div id="checkBoxDisplay" *ngIf = 'show'>
		<ion-item>
			<ion-label color="">Employee First Name</ion-label>
			<ion-input  (ngModel)="empFirstName" type="text" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Employee Last Name</ion-label>
			<ion-input  (ngModel)="empLastName" type="text" ></ion-input>
		</ion-item>
	   
	   
		
        <ion-item>
            <ion-label>Date Of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateOfBirth">{{dateOfBirth}}</ion-datetime>
        </ion-item>
		
		<ion-item>
			<ion-label color="">Phone Number</ion-label>
			<ion-input  (ngModel)="orgPhone" type="Number" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Passport Number</ion-label>
			<ion-input  (ngModel)="passport" type="Number" ></ion-input>
		</ion-item>
		</div>		
			  
        <ion-row responsive-sm padding>
            <ion-col>
				<button ion-button (click)="onCancel()" color="light" block>Cancel</button>
                
            </ion-col>
            <ion-col>
                <button ion-button (click)="onSubmit()" type="submit" block>Submit</button>
            </ion-col>
        </ion-row>
        <!-- <div padding>
            <button full ion-button medium color="primary" block>Submit</button>
        </div> -->
    </ion-list>    
   
</ion-content>
      