<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Month Wise Report</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="list-avatar-page">
    <ion-list inset>  
      <ion-item>
          <ion-label>Year</ion-label>
          <ion-select [(ngModel)]="year" [selectOptions]="musicAlertOpts">
            <ion-option>2018</ion-option>
            <ion-option>2017</ion-option>
            <ion-option>2016</ion-option>
            <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Month</ion-label>
            <ion-select [(ngModel)]="month" [selectOptions]="musicAlertOpts1">
              <ion-option>Jan</ion-option>
              <ion-option>Feb</ion-option>
              <ion-option>Mar</ion-option>
              <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
            </ion-select>
          </ion-item>
          <button full ion-button medium (click)="onSearch()">Search</button>
        </ion-list>
    <ion-list>
      <ion-item-sliding>
        <ion-item *ngFor="let l of monthwiseList">
          <ion-avatar item-start>
            <img src= {{l.imgName}}>
          </ion-avatar>
          <h2>{{l.guestName}}</h2>
          <h3>{{l.checkin}} to {{l.checkout}}</h3>
          <p>{{l.status}}</p>
          <button ion-button clear item-end  (click)="openDetail(l)" >View</button>
        </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-start>
          <ion-icon name="ios-more"></ion-icon>
            More
        </button> 
        <button ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
            Edit
        </button>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="undo"></ion-icon>
            Active
        </button> 
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content> 
    