<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{loginType}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="loginType === 'Banalp Admin'">
      <button menuClose ion-item *ngFor="let p of BApages; let i = index" (click)="openPage(p,i)">
        <span *ngIf="p.title === 'Create Employee' || p.title === 'View Employee' || p.title === 'Create Client' || p.title === 'View Client' || p.title === 'Create Coordinator' || p.title === 'View Coordinator' || p.title === 'Create Enquiry' || p.title === 'View Enquiry' || p.title === 'View Generated Reservation' || p.title === 'Make Payment' || p.title === 'Payment History' || p.title === 'MIS Report' || p.title === 'Client Wise Report' || p.title === 'Region Wise Report' || p.title === 'Month Wise Report' || p.title === 'Query Sheet Report'">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}
        </span>
        <span *ngIf="p.title != 'Create Employee' && p.title != 'View Employee' && p.title != 'Create Client' && p.title != 'View Client' && p.title != 'Create Coordinator' && p.title != 'View Coordinator' && p.title != 'Create Enquiry' && p.title != 'View Enquiry' && p.title != 'View Generated Reservation' && p.title != 'Make Payment' && p.title != 'Payment History' && p.title != 'MIS Report' && p.title != 'Client Wise Report' && p.title != 'Region Wise Report' && p.title != 'Month Wise Report' && p.title != 'Query Sheet Report'">
          <b>{{p.title}}</b>
        </span>
      </button>
    </ion-list>
    <ion-list *ngIf="loginType === 'Banalp Employee'">
      <button menuClose ion-item *ngFor="let p of BEpages; let i = index" (click)="openPage(p,i)">
        <span *ngIf="p.title === 'Create Client' || p.title === 'View Client' || p.title === 'Create Coordinator' || p.title === 'View Coordinator' || p.title === 'Create Enquiry' || p.title === 'View Enquiry' || p.title === 'View Generated Reservation' || p.title === 'Make Payment' || p.title === 'Payment History' || p.title === 'MIS Report' || p.title === 'Client Wise Report' || p.title === 'Region Wise Report' || p.title === 'Month Wise Report' || p.title === 'Query Sheet Report'">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}
        </span>
        <span *ngIf="p.title != 'Create Client' && p.title != 'View Client' && p.title != 'Create Coordinator' && p.title != 'View Coordinator' && p.title != 'Create Enquiry' && p.title != 'View Enquiry' && p.title != 'View Generated Reservation' && p.title != 'Make Payment' && p.title != 'Payment History' && p.title != 'MIS Report' && p.title != 'Client Wise Report' && p.title != 'Region Wise Report' && p.title != 'Month Wise Report' && p.title != 'Query Sheet Report'">
          <b>{{p.title}}</b>
        </span>
      </button>
    </ion-list>
    <ion-list *ngIf="loginType === 'Client Admin'">
      <button menuClose ion-item *ngFor="let p of CApages; let i = index" (click)="openPage(p,i)">
        <span *ngIf="p.title === 'Create Coordinator' || p.title === 'View Coordinator' || p.title === 'View Enquiry' || p.title === 'View Generated Reservation'">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}
        </span>
        <span *ngIf="p.title != 'Create Coordinator' && p.title != 'View Coordinator' && p.title != 'View Enquiry' && p.title != 'View Generated Reservation'">
          <b>{{p.title}}</b>
        </span>
      </button>
    </ion-list>
    <ion-list *ngIf="loginType === 'Client Employee'">
      <button menuClose ion-item *ngFor="let p of CEpages; let i = index" (click)="openPage(p,i)">
        <span *ngIf="p.title === 'Create Coordinator' || p.title === 'View Coordinator' || p.title === 'View Generated Reservation' || p.title === 'MIS Report' || p.title === 'Client Wise Report' || p.title === 'Region Wise Report' || p.title === 'Month Wise Report' || p.title === 'Query Sheet Report'">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.title}}
        </span>
        <span *ngIf="p.title != 'Create Coordinator' && p.title != 'View Coordinator' && p.title != 'View Generated Reservation' && p.title != 'MIS Report' && p.title != 'Client Wise Report' && p.title != 'Region Wise Report' && p.title != 'Month Wise Report' && p.title != 'Query Sheet Report'">
          <b>{{p.title}}</b>
        </span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>