<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Create Coordinator</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content class="list-avatar-page">
        <ion-list>

		<ion-item>
			<ion-label>Client</ion-label>
			<ion-select> 
				<ion-option>Select Client </ion-option>
				<ion-option *ngFor="let Name of companyName">{{Name.name}} </ion-option>
			</ion-select>
			</ion-item>
				
         <ion-item>
			<ion-label color="">Employee First Name</ion-label>
			<ion-input  (ngModel)="empFirstName" type="text" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Employee Last Name</ion-label>
			<ion-input  (ngModel)="empLastName" type="text" ></ion-input>
		</ion-item>
		 <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="gender" [selectOptions]="genderAlertOpts">
                <ion-option>Male</ion-option>
                <ion-option>Female</ion-option>
                <!-- <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option> -->
            </ion-select>
        </ion-item>
		
        <ion-item>
            <ion-label>Date Of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateOfBirth">{{dateOfBirth}}</ion-datetime>
        </ion-item>
		
        <ion-item>
			<ion-label color="">Phone</ion-label>
			<ion-input (ngModel)="empPhone" type="Number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="">Employee Email</ion-label>
			<ion-input   (ngModel)="empEmail" type="text" ></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label color="">Passport Number</ion-label>
			<ion-input  (ngModel)="passport" type="text" ></ion-input>
		</ion-item>
		
		<ion-row responsive-sm padding>
            <ion-col>
				<button ion-button (click)="onCancel()" color="light" block>Cancel</button>
                
            </ion-col>
            <ion-col>
                <button ion-button (click)="onSubmit()" type="submit" block>Submit</button>
            </ion-col>
        </ion-row>
        </ion-list>
      </ion-content> 