<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Region Wise Report</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content class="list-avatar-page">
        <ion-list inset>
         <ion-item>
          <ion-label>Country</ion-label>
          <ion-input type="text" [(ngModel)]="country"></ion-input>
         </ion-item>
         <button full ion-button medium (click)="onSearch()">Search</button>      
        </ion-list>  
        <ion-list>
         <ion-item-sliding>
          <ion-item *ngFor="let l of regionList">
            <ion-avatar item-start>
              <img src= {{l.imgName}}>
            </ion-avatar>
            <h2>{{l.clientName}}</h2>
            <h3>{{l.guestName}}</h3>
            <p>{{l.checkinout}}</p>
            <button ion-button clear item-end  (click)="openDetail(l)" >View</button>
          </ion-item>
        <ion-item-options>
                <button ion-button color="light" icon-start>
                  <ion-icon name="ios-more"></ion-icon>
                  More
                </button> 
                 <button ion-button color="primary" icon-start>
                  <ion-icon name="create"></ion-icon>
                  Edit
                </button>
                <button ion-button color="secondary" icon-start>
                  <ion-icon name="undo"></ion-icon>
                  Active
                </button> 
              </ion-item-options>
         </ion-item-sliding>
        </ion-list>
      </ion-content> 