
.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
    
  }
}
// .toolbar-background {
//   background-color: #00124d;;
// }
// .backgroundimg{
//   background: url(../images/bg.jpg);
// }
 
// .slidingbg{
//   background-color: #00124d;
// }
// #searchcss{
//   width: 100%;
//   margin: auto;
//   flex-basis: 50px;
// }
.align{
  text-align: center;
  align-items: center;
  display: inline-flex;
  text-justify: 20px;

}

.card{
  align-self: center;
 background: #e0e0eb;
  text-align: center;
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.card1{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    width: 100%;
}
.bgclr{
 background-color:  #f0f0f5;
  margin-bottom: 0px !important;
}
.searchbar{
 border: 4px solid #e0e0eb;
}



.segment-button {
  color: rgb(44, 28, 100) !important;
  text-transform: none !important;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  opacity: 17 !important;
  border: 0 !important;
margin: 0px 0px 0px 0px;
 

  &.activated, &.segment-activated {
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(3, 160, 73) !important;
    border-left: 0;
    color: rgb(3, 160, 73) !important;
    background: transparent !important;
  }
}

