<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>View Employee</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="bgclr">
    
         
           <ion-segment   [(ngModel)]="status">
              <ion-segment-button  value="Active">
                  Active
            
            </ion-segment-button>
            <ion-segment-button value="InActive">
               InActive
            </ion-segment-button>
          </ion-segment>
    
          <ion-toolbar>
      <ion-searchbar class="ion-searchtext"[(ngModel)]="searchbyname"placeholder="Enter name here to search">
      </ion-searchbar></ion-toolbar>
  
    <ion-list>
     <ion-item-sliding>
    
      <ion-item *ngFor="let l of employeeList; let i = index" class="bgclr ">
        <ion-card class="card">
          
        <ion-avatar item-start >
          <img src= {{l.imgName}} class="card1">
        </ion-avatar>
        <h2>{{l.empName}}</h2>
        <p>{{l.empDesi}} ({{l.empDept}})</p>
        <p>{{l.empPhone}}</p>
        <button  class = "button button-primary"ion-button small (click)="openDetail(l,i)" >View</button>
        <button  class = "button button-primary"ion-button small (click)="openViewdetail()">Edit</button>
        
      </ion-card>
      
      </ion-item>
      </ion-item-sliding>
      </ion-list>

  </ion-content>

  
  