<ion-header>
  <ion-navbar>
    <ion-title>Client View Detail</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <img src= {{imgName}} alt="avatar">
  <ion-card>
    <ion-card-content>
      <h2>Name : <b>{{clientName}}</b></h2>
      <p>E-mail : {{clientEmail}}</p>
      <p>Phone : {{clientPhone}}</p>
      <p>Address : {{clientAddress}}</p>
      <p>Reporting Mail : {{reportEmail}}</p>  
    </ion-card-content>
  </ion-card>
</ion-content>
  