
    <ion-header>
            <ion-navbar>
              <ion-title>Client View Detail</ion-title>
            </ion-navbar>
          </ion-header>
    
          <ion-content padding>
            <img src= {{imgName}} alt="avatar">
            <ion-card>
              <ion-card-content>
                <h2>Name : <b>{{clientName}}</b></h2>
                <p>Invoice ID : {{invoiceId}}</p>
                <p>Guest Name : {{guestName}}</p>
                <p>Property Name : {{propertyName}}</p>
                <p>Amount : {{amount}}</p>
                <p>Paid Amount : {{paidAmount}}</p>
                <p>Pending Amount : {{pendingAmount}}</p>
              </ion-card-content>
            </ion-card>
          </ion-content>
            