<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>View Client</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="list-avatar-page">
    <ion-list>
      <ion-item padding-left padding-right>
        <ion-input type="text" placeholder="Add new Email Id"></ion-input>
      </ion-item>
      <ion-item padding-left padding-right>
        <ion-input type="password" placeholder="Add new password"></ion-input>
      </ion-item>
      <div padding>
        <button full ion-button medium color="primary" block>Add</button>
      </div>
    </ion-list>
   
    <ion-list>
      <ion-item *ngFor="let l of emailList">
        <h2>{{l}}</h2>
        <button ion-button clear item-end  (click)="delete(l)" >Delete</button>
      </ion-item>
    </ion-list>
  </ion-content> 