<ion-content padding>
  <div class="login-top">
    <img src="assets/imgs/banalp-logo.png" />
  </div>
  <ion-list>
    <p style="text-align:center">Forgot your password?</p>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-icon name="contact"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <ion-input type="text" [(ngModel)]="username" placeholder="Enter Username"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <button full ion-button medium (click)="sendPassword()">Submit</button>
  <p class="txtcenter" (click)="goToLogin()">Login</p>
</ion-content>
