
   
	.card{
  align-self: center;
 background: #e0e0eb;
  text-align: center;
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.card1{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    width: 100%;
}

    
